@import "../_vars.scss";

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

.content {
    padding: 0px 60px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $start-mobile-width) {
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        margin: 0px;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        padding: 10px 0px;
        line-height: 30px;


        .month-info {
            display: flex;
            justify-content: center;
            font-weight: 600;
            margin-right: 30px;
            width: 100px;

            @media only screen and (max-width: $start-mobile-width) {
                display: none;
            }
        }

        .year-info {
            display: flex;
            align-items: center;
            margin-right: 20px;
            width: auto;


            @media only screen and (max-width: $start-mobile-width) {
                width: auto;
                margin-left: 20px;
            }

            p {
                margin: 0px 15px;

                @media only screen and (max-width: $start-mobile-width) {
                    font-size: 1rem;
                    margin: 0px 5px;
                }
            }

            img {
                height: 17px;
                width: auto;

                @media only screen and (max-width: $start-mobile-width) {
                    height: 15px;
                }
            }

            .next-year {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

header {
    background-color: #f3f3f3;
    padding: 5px 0px;
    position: relative;
    z-index: 2;
    border: 2px solid #f3f3f3;

    @media only screen and (max-width: $start-mobile-width) {
        padding: 10px 0px;
    }

    .account-data {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        .logout-panel-button {
            display: flex;
            align-items: center;
            line-height: 10px;
            padding: 10px;
            border-radius: 10px 10px 0px 0px;
        }

        .logout-panel {
            position: absolute;
            display: none;
            justify-content: center;
            background-color: #454545;
            width: 200px;
            padding: 5px 5px 15px 5px;
            border-radius: 0px 10px 10px 10px;

            a {
                font-size: 18px;
                color: white;
                margin-top: 10px;

                &:hover {
                    color: lightgray;
                }
            }
        }

        p {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 16px;
            color: black;

            @media only screen and (max-width: $start-mobile-width) {
                font-size: 1rem;
            }
        }

        img {
            height: $header-avatar-size;
            width: $header-avatar-size;
            border-radius: 50px;
        }
    }

    .today-button {
        a {
            color: #000000;
            font-weight: 600;
            font-size: 20px;
            text-decoration: none;
            border: 2px solid black;
            border-width: 0px 0px 2px 0px;

            &:hover{
                color: dimgray;
                border-color: dimgray;
            }

            @media only screen and (max-width: $start-mobile-width) {
                font-size: 16px;
            }
        }
    }
}
