@import "../_vars.scss";

body{
    font-family: Cambria;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: $main-color;
    padding: 8px 30px;

    .account-data {
        display: flex;

        p {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 16px;
            color: white;
        }

        img {
            height: $header-avatar-size;
            width: $header-avatar-size;
            border-radius: 50px;
        }
    }
}