<!DOCTYPE html>

<html>
<head>
    <meta name="http-equiv" content="Content-type: text/html; charset=UTF-8" />
    <script charset="utf-8" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/scss/style.min.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="content">
            <div class="content">
            <div class="account-data">
                <img src="/images/test/1671822124_kartinkin-net-p-kartinki-leto-estetika-oboi-14.jpg"/>
                <p>Radricksh@gmail.com</p>
            </div>
            </div>
        </div>
    </header>
    <div class="main-content">
        @RenderBody()
    </div>
    <footer>
    </footer>
</body>
</html>
