@using FastSchedule.MVC.ViewModels;
@model CalendarViewModel

<div class="calendar-and-info">
    <div class="month-info">
        <p>Июнь 2023</p>
    </div>
    <div class="calendar">
        <div class="days-of-week-row">
            <p>ПН</p>
            <p>ВТ</p>
            <p>СР</p>
            <p>ЧТ</p>
            <p>ПТ</p>
            <p>СБ</p>
            <p>ВС</p>
        </div>
        <div class="calendar-grid">
            @{
                int weekGap = 0;
                if ((int)Model.Schedule.StartDayOfWeek == 0)
                    weekGap = 6;
                else
                    weekGap = (int)Model.Schedule.StartDayOfWeek - 1;

                int cellsCount = 0;
                int date = 1;
                while (true)
                {
                    if (cellsCount >= 42)
                    {
                        break;
                    }
                    if (cellsCount < weekGap || date > Model.Schedule.Days.Count())
                    {
                        <div class="grid-item">
                        </div>
                        cellsCount++;
                        continue;
                    }
                    if (Model.SelectedDate.Day == date)
                    {
                        <div class="grid-item selected-day">
                            <a href="/home/@Model.SelectedDate.Year/@Model.SelectedDate.Month/@date">
                                <p>@date</p>
                                @if (Model.Schedule.Days.FirstOrDefault(day => day.Date.Day == date).Tasks != null)
                                {
                                    <div class="event-dots" style="background-color: #f7f2ef;">
                                        @foreach (var item in Model.Schedule.Days.FirstOrDefault(day => day.Date.Day == date).Tasks)
                                        {
                                            <p></p>
                                        }
                                    </div>
                                }
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="grid-item">
                            <a href="/home/@Model.SelectedDate.Year/@Model.SelectedDate.Month/@date">
                                <p>@date</p>
                                @if (Model.Schedule.Days.FirstOrDefault(day => day.Date.Day == date).Tasks != null)
                                {
                                    <div class="event-dots">
                                        @foreach (var item in Model.Schedule.Days.FirstOrDefault(day => day.Date.Day == date).Tasks)
                                        {
                                            <p></p>
                                        }
                                    </div>
                                }
                            </a>
                        </div>
                    }
                    date++;
                    cellsCount++;
                }
            }
        </div>
    </div>
</div>