@import "../../_vars.scss";

.base-background {
    background-color: $header-background-color;
    width: 100%;
    min-height: 1000px;

    .background {
        width: 100%;
        min-height: 1000px;
        border-radius: 35px;
        background-color: #f7f3f0
    }

    .todaytasks-and-calendar {
        display: grid;
        grid-template-columns: 6fr 10fr;

        .todaytasks {
            border-radius: 30px 0px 0px 0px;
            width: 100%;
            min-height: 1000px;
            background-color: #e1dcd8;

            .content {
                padding-top: 20px;

                input {
                    width: 100%;
                    padding: 8px;
                    font-size: 20px;
                    border-style: none;
                    border-radius: 35px;
                    padding-left: 30px;
                    margin: 20px 0px;
                }

                .date-and-addnew {
                    display: flex;
                    justify-content: space-between;

                    p {
                        color: #726e6b;
                        font-size: 20px;
                        line-height: 30px;
                    }

                    a {
                        line-height: 30px;
                        font-size: 30px;
                        color: #726e6b;
                        margin-right: 25px;
                        cursor: pointer;
                    }
                }

                .tasks {
                    width: 100%;
                    display: grid;
                    grid-row-gap: 30px;

                    .task {
                        width: 100%;
                        background-color: #f7f3f0;
                        border-radius: 15px;

                        p {
                            margin: 0px;
                            display: flex;
                            font-size: 18px;
                            color: #726e6b;
                            padding: 15px;
                        }
                    }
                }
            }
        }

        .calendar-and-info {
            width: 100%;
            min-height: 500px;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;

            .month-info {
                padding-top: 10px;
                font-size: 20px;
            }

            .calendar {
                .days-of-week-row {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    p{
                        text-align:center;
                    }
                }

                .calendar-grid {
                    display: grid;
                    grid-template-columns: repeat(7, 1fr);
                    grid-auto-rows: 125px;
                    grid-gap: 1px;
                    background-color: black;

                    .grid-item {
                        height: auto;
                        width: auto;
                        background-color: #f7f3f0;

                        p {
                            font-size: 22px;
                            padding: 10px;
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }
}