@using FastSchedule.MVC.ViewModels;
@model MonthViewModel
@{
    ViewData["Title"] = "Главная";
    Layout = "_layout";
}
<div class="background">
    <div class="calendar-handler">
        <div class="calendar-and-info">
            <div class="days-of-week-row">
                <p>ПН</p>
                <p>ВТ</p>
                <p>СР</p>
                <p>ЧТ</p>
                <p>ПТ</p>
                <p>СБ</p>
                <p>ВС</p>
            </div>
            <div class="calendar-grid">

            </div>
        </div>
    </div>
</div>
<div class="manage-task-window-handler">

</div>
<script type="text/javascript" src="/scripts/enums/remindertype.js" charset="utf-8"></script>
<script type="text/javascript" src="/scripts/enums/repeattype.js" charset="utf-8"></script>
<script type="text/javascript" src="/scripts/objects/dategrid.js" charset="utf-8"></script>
<script type="text/javascript" src="/scripts/objects/calendargrid.js" charset="utf-8"></script>
<script type="text/javascript" src="/scripts/objects/task.js" charset="utf-8"></script>
<script type ="text/javascript" src="/scripts/objects/taskwindow.js" charset="utf-8"></script>
<script type="text/javascript" src="/scripts/taskscontrol.js" charset="utf-8"></script>