@using FastSchedule.MVC.ViewModels;
@model HomeViewModel
@{
    ViewData["Title"] = "Главная";
    Layout = "_layout";
}
<div class="background">
    <div class="content">
        <div class="calendar-handler">
            <div class="calendar-and-info">
                <div class="info">
                    <div class="month-info">
                    </div>
                    <div class="year-info">
                        <a class="previous-year"><img src="/images/icons/arrow.png" /></a>
                        <p class="total-year"></p>
                        <a class="next-year"><img src="/images/icons/arrow.png" /></a>
                    </div>
                </div>
                <div class="days-of-week-row">
                    <p>ПН</p>
                    <p>ВТ</p>
                    <p>СР</p>
                    <p>ЧТ</p>
                    <p>ПТ</p>
                    <p>СБ</p>
                    <p>ВС</p>
                </div>
                <div class="calendar-grid">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="manage-task-window-handler">

</div>
<script src="/scripts/taskscontrol.js" asp-append-version="true"></script>
<script src="/scripts/managetaskwindow.js" asp-append-version="true"></script>