@using FastSchedule.MVC.ViewModels.LoginAndRegistration;
@model LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="http-equiv" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/scss/style.min.css" />
    <title>Авторизация</title>
</head>
<body>
    <div class="wrapper">
        <div class="content-wrapper">
            <form asp-controller="login" asp-action="login">
                <h1>Авторизация</h1>
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <div class="input-field-handler">
                    <label asp-for="Login"></label>
                    <input required asp-for="Login" type="text"/>
                    <span asp-validation-for="Login"></span>
                </div>
                <div class="input-field-handler">
                    <label asp-for="Password"></label>
                    <input required asp-for="Password" type="password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="input-field-handler">
                    <input type="submit" value="Войти"/>
                </div>
            </form>
            <small><a href="/registration">Регистрация</a></small>
            <small><a>Забыли пароль?</a></small>
        </div>
    </div>
</body>
</html>
